In [37]:
from pymongo import MongoClient
import pandas as pd

def _connect_mongo(host, port, db):
    """ A util for making a connection to mongo """
    conn = MongoClient(host, port)


    return conn[db]


def read_mongo(db, collection, query={}, host='localhost', port=27017,no_id=True):
    """ Read from Mongo and Store into DataFrame """

    # Connect to MongoDB
    db = _connect_mongo(host=host, port=port, db=db)

    # Make a query to the specific DB and Collection
    cursor = db[collection].find(query)

    # Expand the cursor and construct the DataFrame
    datadf =  pd.DataFrame(list(cursor))

    # Delete the _id
    if no_id:
        del datadf['_id']
    
            
    return datadf
    


datadf = read_mongo("vnpy", "NYSE")

<class 'pandas.core.frame.DataFrame'>

In [38]:
datadf.head()

,close_price,datetime,exchange,high_price,interval,low_price,open_interest,open_price,symbol,volume
0,10609.650391,2010-01-15 08:00:00,NYSE,10709.940430,d,10561.059570,0.0,10706.990234,DJI,362930000.0
1,10725.429688,2010-01-19 08:00:00,NYSE,10729.889648,d,10591.969727,0.0,10608.370117,DJI,192150000.0
2,10603.150391,2010-01-20 08:00:00,NYSE,10719.919922,d,10517.299805,0.0,10719.690430,DJI,203270000.0
3,10389.879883,2010-01-21 08:00:00,NYSE,10614.940430,d,10374.690430,0.0,10603.910156,DJI,304290000.0
4,10172.980469,2010-01-22 08:00:00,NYSE,10389.580078,d,10157.639648,0.0,10389.580078,DJI,323620000.0

ImportError: cannot import name 'GroupStats' from 'ffn.data' (C:\Users\j4a3m\anaconda3\lib\site-packages\ffn\data.py)