In [1]:
from vnpy.trader.constant import (Exchange, Interval)
import pandas as pd
from vnpy.trader.database import database_manager
from vnpy.trader.object import (BarData,TickData)

import data讀取並轉換成vnpy特定格式的function

In [2]:
imported_data = pd.read_csv(r'C:\Users\j4a3m\OneDrive\桌面\3008.csv')

imported_data['TimeFrame'] = Interval.DAILY
imported_data['exchange']=Exchange.TSE  #original file doesn't change
imported_data['Symbol']="3008"
# del imported_data['market']
imported_data.head()
 
import pytz                                                #import timezone轉換 function
float_columns=['Open','High','Low','Close','Volume']

for col in float_columns:
    imported_data[col] = imported_data[col].astype("float")

datetime_format='%Y-%m-%d %H:%M:%S'
imported_data['Time']=pd.to_datetime(imported_data['Date'], format=datetime_format, utc=True)  #timezone 轉換
imported_data.head()

,Date,Open,High,Low,Close,Volume,TimeFrame,exchange,Symbol,Time
0,2010/1/4,428.0,428.0,415.5,416.0,1026000.0,Interval.DAILY,Exchange.TSE,3008,2010-01-04 00:00:00+00:00
1,2010/1/5,419.0,420.0,407.0,408.5,1670000.0,Interval.DAILY,Exchange.TSE,3008,2010-01-05 00:00:00+00:00
2,2010/1/6,410.0,416.5,407.5,407.5,1728000.0,Interval.DAILY,Exchange.TSE,3008,2010-01-06 00:00:00+00:00
3,2010/1/7,408.0,411.0,401.0,401.0,1411000.0,Interval.DAILY,Exchange.TSE,3008,2010-01-07 00:00:00+00:00
4,2010/1/8,401.0,403.5,395.5,397.5,1433000.0,Interval.DAILY,Exchange.TSE,3008,2010-01-08 00:00:00+00:00

In [3]:
import talib
def move_df_to_mongodb(imported_data:pd.DataFrame,collection_name:str):
    bars=[]
    start=None
    count=0
    
#     for row in imported_data.itertuples(): #Iterate over DataFrame rows as namedtuples.
    for row in imported_data.itertuples():

        bar = BarData(

              symbol=row.Symbol,
              exchange=row.exchange,
              datetime=row.Time,
              interval=row.TimeFrame,
              volume=row.Volume,
              open_price=row.Open,
              high_price=row.High,
              low_price=row.Low,
              close_price=row.Close,
              gateway_name ="DB",

        )


        bars.append(bar)
        count += 1
        if not start:
            start = bar.datetime
    end = bar.datetime

    # insert into database，在vnpy設定的databse底下的資料夾，這裡是vnpy->Taiwan Stock
    database_manager.save_bar_data(bars, collection_name)
    print(f"Insert Bar: {count} from {start} - {end}")
move_df_to_mongodb(imported_data,'TSE stock')

Insert Bar: 2657 from 2010-01-04 00:00:00+00:00 - 2020-10-30 00:00:00+00:00

In [39]:
imported_data = pd.read_csv(r'C:\Users\j4a3m\OneDrive\桌面\^IXIC.csv')

imported_data['TimeFrame'] = Interval.DAILY
imported_data['exchange']=Exchange.NYSE  #original file doesn't change
imported_data['Symbol']="NASDQ"
# del imported_data['market']
imported_data.head()

import pytz
float_columns=['Open','High','Low','Close','Volume']

for col in float_columns:
    imported_data[col] = imported_data[col].astype("float")

datetime_format='%Y-%m-%d %H:%M:%S'
imported_data['Time']=pd.to_datetime(imported_data['Date'], format=datetime_format, utc=True)  #timezone 轉換
imported_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,TimeFrame,exchange,Symbol,Time
0,2010-01-15,2316.979980,2322.540039,2279.199951,2287.989990,2287.989990,2.637770e+09,Interval.DAILY,Exchange.NYSE,NASDQ,2010-01-15 00:00:00+00:00
1,2010-01-19,2291.020020,2320.399902,2290.679932,2320.399902,2320.399902,2.045290e+09,Interval.DAILY,Exchange.NYSE,NASDQ,2010-01-19 00:00:00+00:00
2,2010-01-20,2304.310059,2304.469971,2268.679932,2291.250000,2291.250000,2.351890e+09,Interval.DAILY,Exchange.NYSE,NASDQ,2010-01-20 00:00:00+00:00
3,2010-01-21,2298.229980,2308.979980,2259.820068,2265.699951,2265.699951,2.877800e+09,Interval.DAILY,Exchange.NYSE,NASDQ,2010-01-21 00:00:00+00:00
4,2010-01-22,2255.760010,2262.270020,2200.370117,2205.290039,2205.290039,2.817620e+09,Interval.DAILY,Exchange.NYSE,NASDQ,2010-01-22 00:00:00+00:00